._container {
	margin: 1rem;
}
._btn {
	width: 103px;
	border: none;
	height: 43px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #fff;
	font-size: 1.5rem;
	background-color: rgb(221, 221, 221);
	cursor: pointer;
}

._btn._light {
	background-color: rgb(241, 241, 241);
}

._btn._blue {
	background-color: rgb(98, 101, 255);
	color: #fff;
}

._btn:active {
	filter: opacity(0.5);
}

._num_field {
	margin: 1rem 0;
	border-radius: 8px;
	max-width: 435px;
	border: 1px solid rgb(195, 195, 195);
	padding: 1rem 1rem;
	font-size: 1.4rem;
	text-align: right;
	overflow: hidden;
	overflow-x: auto;
}

._num_field::-webkit-scrollbar {
	display: none;
}

._grid {
	margin-top: 1rem;
	display: grid;
	width: 324px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.5rem;
}

._flex {
	display: flex;
	gap: 0.5rem;
}
